@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body{
    background-color: rgb(95, 95, 141);
}
.container{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: large;
    margin-top: 10em;
    margin-left: auto;
    margin-right: auto;
    border: dashed;
    padding: 5rem;
    width: 30em;
    background-color: rgb(97, 60, 46);
}
.return{
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: large;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    border: dashed;
    padding: 5rem;
    width: 30em;
    background-color: rgb(141, 84, 63);
}
#btn{
    color: goldenrod;
    background-color: blue;
    margin-top: 5em;
    margin-left: 67em;
    margin-right: auto;
}
