/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@800&family=Oooh+Baby&display=swap'); */

body{
    font-family: 'Montserrat Alternates', sans-serif;
    font-family: 'Oooh Baby', cursive;
    background-color: rgb(95, 95, 141);
}
.container{
    margin-top: 20em;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
}
#btn{
    margin-top: 30em;
    margin-left: 67em;
    margin-right: auto;
}
